<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Quackathon 2017 - Team RGU</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="gallery-grid.css">


</head>
<body>

<div class="container gallery-container">

    <h1><img src="images/duck.png" alt="Quackathon" height="10%" width="10%"></br>Team RGU </br> Quackathon 2017 </br>Edesix Challenge</h1>
    <!-- <h1>Edesix Challenge</h1> -->

    <p class="page-description text-center">Team RGU consists of Luke Fisher, Fraser Barclay, Rhys Gardiner and Christina Moir</p>

    <div class="tz-gallery">

        <div class="row">
          <% videos.forEach(function(video) { %>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="thumbnail/<%= video.fileName %>.jpg ">
                    <img src="thumbnail/<%= video.fileName %>.jpg " alt="<%= video.fileName %> ">
                </a>
            </div>
          <% }); %>

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>
